*, 
*:before, 
*:after {
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: Arial;
  background: #000;
  color: #fff;
}
.App {
	padding: 10%;
}
.container {
	margin: 0 auto;
	max-width: calc(100% - 60px);
  background: #000;
  color: #fff;
	align-items: center;
}

.items-wrap {
	display: flex;
	flex-flow: row wrap;
	
	
	.items-col {
		padding: 0.5%;
		width: flex;
		display: flex;
		flex-flow: column;
		align-items: center;
		
		.item {
			height: 340px;
			background: #000;
			color: #fff;
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			
		}
	}
}

h3 {
	margin: 0rem;
	padding-bottom: 0rem;
	font-size: 180px;
	padding-bottom: 0.2em;
	line-height: 0.9em;
font-family: 'Courier', serif;
 background-color: black;
	 width: 100%;
}